.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navTitle {
    font-weight: bold;
    font-size: 2em;
}

.navCart button {
    background: none;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
}
